@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="background-color:#EEEFF3; min-width:200px">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
